@import '../../Styles/variables';


.content-contact {

    margin-bottom: 20px;

    &__link {
        color: #000;
        text-decoration: none;
        font-size: 24px;
        margin-right: 30px;
        display: block;
        margin-bottom: 10px;
        
        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    @media (min-width: $screen-lg-min) {
        &__link {
            display: inline-block;
            margin-bottom: auto;
        }
    }
}